@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300&family=Poppins:ital,wght@0,300;0,400;1,200&family=Roboto:ital,wght@1,100&family=Silkscreen&display=swap');


* {
  padding: 0;
  margin: 0;
} 

body{
  background: url(./img/stars.png)  repeat 0 0;
  animation: animate 80s infinite;
  animation-timing-function: linear;
}
/* 
 @keyframes animate{
  100% {
    background-position: 1000px 1200px;
  }

}  */

h1{ 
  color: white;
  text-align: center;
  margin-top: 0.5em;
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 90px;
  letter-spacing: 8px;
  text-shadow: 0.4rem 0.4rem 1rem rgba(143, 141, 151, 0.8);
}

.scoreboard {
  color: white;
  position: relative;
  display: flex;
  justify-content: space-around;
  text-align:left;
  margin: 40px;
  font-size: 20px;
  letter-spacing: 5px;
  font-family: 'Gemunu Libre', sans-serif;
}



.time .score .lives {
  display: flex;
}

.lives {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* .heart {
   filter: drop-shadow(0.4rem 0.4rem 1rem rgba(177, 5, 42, 0.8));
} */

#container {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
}

/* .alien img {
  position:absolute;
} */


#spaceship{
  position: absolute;
  top: 500px;
  width: 100px;
  height: 100px;
  filter: drop-shadow(0.3rem 0.3rem 0.8rem rgba(52, 83, 59, 0.8));
  bottom: 0;
} 


#laser{
  position: absolute;
  width: 25px;
  height: 30px;
}